.card__delete {
    height: 20px;
    min-width: 18px;
    background: transparent center url("../../../images/delete.svg");
    background-size: auto;
    border: none;
    position: absolute;
    z-index: 1;
    top: 18px;
    right: 15px;
}