.form__item {
    border: 0;
    width: 238px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.22;
    color: #000000;
    margin-top: 35px;

}

.form__item:focus {
    outline-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1024px) {
    .form__item {
        width: 358px;
    }
}