.logo {
    width: 104px;
    height: 25px;
    padding-left: 27px;
    padding-bottom: 27px;
}

@media screen and (min-width: 1024px) {
    .logo {
        width: 142px;
        height: 33px;
        padding-left: 0;
        align-self: flex-start;
        padding-bottom: 37px;
    }
}