.popup__container {
    max-width: 282px;
    width: 100%;
    background: #FFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
    .popup__container {
        max-width: 430px;
    }
}