.form__save {
    width: 238px;
    height: 46px;
    background: #000000;
    border-radius: 2px;
    margin-top: 45px;
    border: none;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #FFF;
}

.form__save:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .form__save {
        width: 358px;
        height: 50px;
        font-size: 18px;
        line-height: 1.22;
    }
}